[data-text-field] {
    flex: 1;
    padding: 10px 150px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    transition: border-color 0.3s ease;
}

.add-btn { 
    padding: 10px 20px;
    background-color: rgba(239, 131, 246, 0.93);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.delete-btn {
    /* display: flex;  */
    margin-left: 20px !important;
    padding: 10px 20px;
    background-color: rgb(246, 135, 135);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    text-align: center;
}

.edit-btn, .return-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 8px;
    font-size: 16px;
    background: #e7bed3;
    color: white;
}

.task-actions {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

[data-todo-container] > div,
[data-deleted-container] > div {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    margin: 5px auto;
    border: 1px solid #ddd;
    font-size: 20px;
    border-radius: 4px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 8px 0;
}

.del-task {
    margin: 0 150px;
}

.add {
    display: inline-block;
    padding: 10px 20px;
    background: #f069d9;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
